Django==2.2
django-filter==2.1.0
djangorestframework==3.9.2
gunicorn==19.7.1
virtualenv==13.1.2
flake8==3.6.0
pytest-django==3.4.8
factory-boy==2.12.0
django-rest-swagger
psycopg2
django-cors-headers
